@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;600&display=swap');

body {
  background-color: #3f4c76 !important;

}
* {
  font-family: 'Kanit', sans-serif !important;
}
@media screen and (max-width:756px) {

.catagoray-sec {
    grid-template-columns: auto auto;
  }
.catagoray-sec div {
  width: 190px !important;
}
}